.cart_main_container {
  width: 100%;
  display: flex;
  color: #000000;
  overflow: hidden;
  justify-content: left;
  min-height: 90vh;
  margin-bottom: 10vh;
}

.cart_item_container {
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 1200px;
  width: calc(70% - 40px);
  box-shadow: #dbe2ee 0 0 20px 5px;
  display: flex;
  justify-content: space-between;
  color: #000000;
  position: relative;
  overflow: hidden;
  margin: 15px;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}
.cart_navbar {
  margin: 15px;
  margin-right: 0;
  height: fit-content;
  background: white;
  padding: 20px;
  box-shadow: #dbe2ee 0 0 20px 5px;
  border-radius: 5px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

.CartItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cac5c5;
}
.CartItem:last-child {
  border-bottom: none;
}
.CartItem .CartItem_info {
  max-width: 50%;
  min-width: 50%;
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-left: 10px;
}
.CartItem_image {
  max-width: 50%;
  width: 50%;
  min-width: 50%;
}
.CartItem .CartItem_info .CartItem_info_price small {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-decoration: line-through;
  font-weight: 500;
}
.CartItem .CartItem_info .CartItem_info_price h3 {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  justify-content: left;
  align-items: baseline;
  font-weight: 500;
}
.CartItem .CartItem_info .CartItem_info_price h3 .discount_percent {
  font-size: 12px;
  width: fit-content;
  flex-wrap: nowrap;
  font-weight: 300;
  color: #ff0000;
}
.CartItem .CartItem_info .CartItem_info_name h3 {
  margin: 10px 0 6px 0;
  font-size: 22px;
}
.CartItem .CartItem_info .CartItem_info_description {
  font-size: 14px;
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.CartItem .input_number {
  width: 50px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.CartItem .input_number,
.CartItem .input_number_decrement,
.CartItem .input_number_increment {
  border: 1px solid #ccc;
  height: 40px;
  user-select: none;
}

.CartItem .input_number_decrement,
.CartItem .input_number_increment {
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.CartItem .input_number_decrement:active,
.CartItem .input_number_increment:active {
  background: #ddd;
}

.CartItem .input_number_decrement {
  border-right: none;
  border-radius: 3px 0 0 3px;
}

.input_number_increment {
  border-left: none;
  border-radius: 0 3px 3px 0;
}

.cart_navbar li {
  list-style: none;
  margin: 5px;
  width: calc(100% - 10px);
  height: fit-content;
  padding: 8px;
  border-radius: 5px;
  background: transparent;
  font-size: 1em;
  cursor: pointer;
  transition: 0.25s all ease;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  line-height: inherit;
  color: #252a32;
  text-transform: uppercase;
}
.checkout_button {
  background-color: #8c52ff;
  margin: 15px 0;
  position: relative;
  left: calc(100% - 120px - 30px);
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  border: none;
}
.buyNow {
  background-color: #8c52ff;
  border: none;
  padding: 9px 8px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  width: 120px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
}

.CartItem_remove {
  display: flex;
  justify-content: center;
  width: 120px;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
  border: solid #dfe6f0 2px;
  border-radius: 5px;
  text-align: center;
}
.CartItem_remove:hover {
  background: #dfe6f0;
  color: #000000;
}


.cartButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
@media screen and (max-width: 600px) {
  .cart_main_container {
    flex-direction: column;
  }

  .cartButtons {
    align-items: flex-start;
    flex-direction: column;
  }

  .cart_navbar {
    margin: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
  }
  .cart_item_container {
    flex-direction: column;
    width: calc(100% - 30px);
  }

  .CartItem {
    padding-bottom: 10px;
  }
}
