.Coupon_container {
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 1200px;
  width: calc(70% - 40px);
  box-shadow: #dbe2ee 0 0 20px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000000;
  position: relative;
  overflow: hidden;
  margin: 15px;
  min-height: 50vh;
}

.Coupon_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  height: 100%;
  padding: 5px;
  margin: 15px;
  
  object-fit: fill;
}
.Coupon_card {
  width: 50%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: 1;
  background: radial-gradient(
        circle at right bottom,
        transparent 10px,
        #ffffff 0
      )
      top right / 50% 40px no-repeat,
    radial-gradient(circle at left bottom, transparent 10px, #ffffff 0) top left /
      50% 40px no-repeat,
    radial-gradient(circle at right top, transparent 10px, #ffffff 0) bottom
      right / 50% 40px no-repeat,
    radial-gradient(circle at left top, transparent 10px, #ffffff 0) bottom left /
      50% 40px no-repeat;
  filter: drop-shadow(2px 2px 2px #8c52ff); 
}
.Coupon_card small {
  cursor: pointer;
  font-weight: 400;
}
.Coupon_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
  margin: 15px;
  max-width: 50%;
  width: 50%;
  background-image: url("./../public/coupon_celeb.png");
  background-repeat: no-repeat;
  background-position: center;
}

.coupon_item_info_name h3 {
  margin: 3px 0 3px 0;
  font-size: 20px;
  font-weight: 450;
}
.coupon_item_info_description {
  font-size: 14px;
  color: rgb(53, 46, 46);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 600px) {
  .Coupon_container {
    width: calc(100% - 30px);
  }
  .Coupon_item {
    flex-direction: column;
  }

  .Coupon_card {
    width: 100%;
  }
  .Coupon_info {
    width: calc(100% - 30px);
    margin: 0;
    padding: auto;
    max-width: 100%;
  }

  .coupon_item_info_name h3 {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .coupon_item_info_description {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
