.filterortflexcolumn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 10px 20px 10px 20px;
  box-shadow: 0 2px 7px #dfdfdf;
  overflow: hidden;
}
.filterortflexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
}

.flexrowitem {
  flex-grow: 1;
  padding-left: 10px;
  border-left: 1px solid #e0e0e0;
}
.flexrowitem:first-child {
  padding-left: 0;
  border-left: none;
}

.collapseIcon {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: fit-content;
  margin: 5px auto 5px 30px;
  height: 24px;
  color: #000;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.collapseIcon span {
  font-size: 20px;
  cursor: pointer;
  line-height: 24px;
  user-select: none !important;
}
.activeFilter {
  display: flex !important;
}
.inputRange {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 0px 0px 10px 0px;
}
.inputRange input {
  width: 100%;
  height: 30px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0 10px;
  max-width: 250px;
}

/* === range theme and appearance === */
.inputRange input[type="range"] {
	font-size: 1.5rem;
	width: 12.5em;
}

.inputRange input[type="range"] {
	color: #ef233c;
	--thumb-height: 1.125em;
	--track-height: 0.125em;
	--track-color: rgba(0, 0, 0, 0.2);
	--brightness-hover: 180%;
	--brightness-down: 80%;
	--clip-edges: 0.125em;
}

.inputRange input[type="range"].slider {
	color: #2b2d42;

	--thumb-height: 1.375em;
	--thumb-width: 0.5em;
	--clip-edges: 0.0125em;
}


@media screen and (max-width: 600px) {
  .filterortflexcolumn {
    margin: 0;
  }
  .filterortflexrow {
    flex-wrap: wrap;
  }

  .collapseIcon {
    margin: 24px auto 5px 0px;
  }

  .inputRange {
    flex-direction: column;
  }

  .flexrowitem {
    padding-left: 0;
    border-left: none;
  }
}
