@charset "UTF-8";
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  overflow-x: hidden;
  color: #252a32;
  background: #f1f5f8;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #000000;
  border: 2px solid #555555;
}

/* Navbar */

img {
  display: block;
  width: 100%;
  height: auto;
}

a,
button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}

.container {
  max-width: 80rem;
  width: 100%;
  height: auto;
  padding: 0 2rem;
  margin: 0 auto;
}

.open-menu,
.close-menu {
  cursor: pointer;
  border: none;
  outline: none;
  color: #252a32;
  background: none;
}

.close-menu {
  position: absolute;
  top: 0;
  right: 1rem;
  border: none;
  outline: none;
  color: #252a32;
  background: none;
}

.brand {
  font-family: inherit;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-large {
  font-family: inherit;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: inherit;
  color: #252a32;
  text-align: center;
  text-transform: capitalize;
}

.searchBar {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

.bg_purple {
  background: #6f42c1 !important;
  color: #dfe6f0 !important;
  border: none !important;
}

.header {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0.75rem 1.5rem;
  color: #252a32;
  user-select: none;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}
.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.header .navbar .menu-wrapper::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: background 0.5s;
}
.header .navbar .menu-wrapper.offcanvas .menu {
  transform: translate3d(0, 0, 0);
  transition-duration: 0.7s;
  transition-delay: 0.2s;
}
.header .navbar .menu-wrapper.offcanvas::before {
  background: rgba(37, 42, 50, 0.6);
  z-index: 1;
}
.header .navbar .menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 20rem;
  width: 100%;
  padding: 1.5rem 1rem;
  z-index: 2;
  overflow-y: auto;
  color: #252a32;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.header .navbar .menu-block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.header .navbar .menu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  line-height: inherit;
  text-transform: uppercase;
  transition: color 0.35s ease-out;
  align-items: center;
}
.menu-link svg {
  margin: 0;
  margin-right: 0.5rem;
  padding: 0;
  width: 1rem;
  height: 1rem;
}
.header .navbar .menu-link:hover {
  color: #8c52ff;
}
.header .navbar .menu-item {
  position: relative;
}
.header .navbar .menu-item a {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  line-height: inherit;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  display: block;
  color: #252a32;
  transition: color 0.35s ease-out;
}
.header .navbar .menu-item a:hover {
  color: #8c52ff;
}
.header .navbar .menu-item.has-collapsible {
  position: relative;
}
.header .navbar .menu-item.has-collapsible .menu-child {
  display: none;
}
.header .navbar .menu-item.has-collapsible .menu-child .menu-child-item a {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  line-height: inherit;
  padding: 0.25rem;
  color: #252a32;
  padding-left: 2.5rem;
  text-transform: uppercase;
  transition: color 0.35s ease-out;
}
.header
  .navbar
  .menu-item.has-collapsible
  .menu-child
  .menu-child-item
  a:hover {
  color: #8c52ff;
}
.header .navbar .menu-item.has-collapsible span::after {
  font-family: "Material Icons";
  content: "î—Œ";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: inherit;
  position: absolute;
  top: 0.15rem;
  right: 1rem;
  color: #252a32;
  transition: all 0.35s ease;
}
.header .navbar .menu-item.has-collapsible span::after:hover {
  color: #8c52ff;
}
.header .navbar .menu-item.active.has-collapsible .menu-child {
  display: block;
  transition: all 0.35s ease;
}
.header .navbar .menu-item.active.has-collapsible span::after {
  transform: rotate(90deg);
}

.nav-icon-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (max-width: 500px) {
  .searchBar {
    width: 100%;
  }

  .header .navbar {
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .nav-icon-con {
    display: none;
  }
}

.button {
  display: flex;
  justify-content: center;
  width: 150px;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
  border: solid #dfe6f0 2px;
  border-radius: 5px;
  text-align: center;
}
.button:hover {
  box-shadow: #e2e9f3 0 0 10px;
  background: #dfe6f0 !important;
  color: #000000 !important;
}

/* Bottom Navbar  */

.bottom_nav_menu .clearfix:after,
.bottom_nav_menu .clearfix:before {
  content: "";
  display: table;
}
.bottom_nav_menu .clearfix:after {
  clear: both;
  display: block;
}

.bottom_nav_menu input[name="menu"] {
  display: none;
}

.bottom_nav_menu {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 2;
}
.bottom_nav_menu .list {
  width: 100%;
  height: 60px;
  overflow: hidden;
  background: #ffffff;
  position: relative;
}
.bottom_nav_menu .list .link-wrap {
  width: 100%;
  height: 100%;
  display: table;
}

.bottom_nav_menu .list .link-wrap > label {
  color: #000;
  z-index: 999;
  min-width: 68px;
  max-width: 168px;
  width: 20%;
  font-size: 12px;
  cursor: pointer;
  padding: 4px 12px;
  text-align: center;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bottom_nav_menu .list .link-wrap > label > i,
.bottom_nav_menu .list .link-wrap > label > span {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.bottom_nav_menu .list .link-wrap > label > span {
  height: 0;
  display: block;
  font-weight: 500;
  -webkit-transform: translateY(45px);
  transform: translateY(45px);
}
.bottom_nav_menu #one:checked ~ .list label[for="one"] > span,
.bottom_nav_menu #two:checked ~ .list label[for="two"] > span,
.bottom_nav_menu #three:checked ~ .list label[for="three"] > span,
.bottom_nav_menu #four:checked ~ .list label[for="four"] > span,
.bottom_nav_menu #five:checked ~ .list label[for="five"] > span {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  height: auto;
}
.bottom_nav_menu #one:checked ~ .list .link-wrap > label[for="one"],
.bottom_nav_menu #two:checked ~ .list .link-wrap > label[for="two"],
.bottom_nav_menu #three:checked ~ .list .link-wrap > label[for="three"],
.bottom_nav_menu #four:checked ~ .list .link-wrap > label[for="four"],
.bottom_nav_menu #five:checked ~ .list .link-wrap > label[for="five"] {
  color: #8c52ff;
}
@media screen and (min-width: 500px) {
  .bottom_nav_menu {
    display: none;
  }
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
/*Carosoul  Styling  */
.hcmainslidercontainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.hcslider {
  display: flex;
  height: 350px;
  max-height: auto;
  overflow-y: hidden;
  overflow-x: scroll !important;
  padding: 16px;
  transform: scroll(calc(var(--i, 0) / var(--n) * -100%));
  scroll-behavior: smooth;
}
.hcslider::-webkit-scrollbar {
  height: 5px;
  width: 150px;
  display: none;
}
.hcslider::-webkit-scrollbar-track {
  background: transparent;
}
.hcslider::-webkit-scrollbar-thumb {
  background: #888;
}
.hcslider::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.hcslider img:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}
.hcslide {
  position: relative;
}
.hcslide span{
  position: absolute;
  bottom: 5px;
  background-color: rgba(255, 255, 255, 0.55);
  left: 10px;
  padding: 10px;
  width: auto;
  color: #000000 !important;
  font-size: 16px;
  width: calc(100% - 20px);
  z-index: 1;
  text-align: center;
}
.hcslide img {
  height: 100%;
  width: 250px;
  margin: 0 10px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
.control-prev-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: rgba(255, 255, 255, 0.55);
  height: 45px;
  line-height: 45px;
  width: 45px;
  text-align: center;
  box-shadow: 0 1px 3px #888;
  user-select: none;
  font-size: 25px;
  font-weight: 900;
  color: #444;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}
.control-next-btn {
  position: absolute;
  top: 50%;
  right: 0;
  background-color: rgba(255, 255, 255, 0.55);
  height: 45px;
  transform: translateY(-50%);
  line-height: 45px;
  width: 45px;
  text-align: center;
  box-shadow: 0 1px 3px #888;
  user-select: none;
  font-size: 25px;
  color: #444;
  font-weight: 900;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}
.hcslide img.zoomed {
  width: 500px;
  height: 600px;
  position: fixed;
  left: 25%;
  top: 0%;
  z-index: 1000;
  transform: scale(1) translatey(0) !important;
}
@media only screen and (max-width: 420px) {
  .hcslider {
    padding: 0;
  }
  .hcslide {
    padding: 16px 10px;
  }
  .hcslide img {
    margin: 0;
  }

}
