.product_card {
  background: white;
  width: clac(100% - 20px);
  max-width: 1200px;
  margin: 15px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: #dbe2ee 0 0 20px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  color: #000000;
  position: relative;
  left: calc(50% - 15px);
  transform: translateX(-50%);
  overflow: hidden;
}

.cover_image {
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.img_fluid:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.image_container {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.more_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80%;
  overflow: hidden;

}
.more_image {
  width: 100px;
  border: 1px solid #f2f4f8;
}
.image-container img {
  width: 100%;
  object-fit: cover;
}
.product_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.free_shipping {
  display: inline-block;
  background: #000000;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 14px;
  color: white;
  font-weight: 400;
  width: fit-content;
}

.product_name {
  margin: 10px 0 20px 0;
  font-size: 22px;
}

.regular_price {
  text-decoration: line-through;
}

.discount_price {
  display: inline-block;
  font-size: 40px;
  font-weight: 700;
}

.offer_info {
  font-size: 14px;
  color: gray;
}

.add_to_cart {
  display: inline-block;
  width: 100%;
  background: #000000;
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  box-shadow: #e2e9f3 0 5px;
  margin: 20px 0;
}
.add_to_cart ion-icon {
  font-size: 30px;
  margin-bottom: -8px;
}
.add_to_cart:hover {
  background: #e2e9f3;
  box-shadow: #000000 0 5px;
  color: #000000;
}
.add_to_cart:hover ion-icon {
  transform: rotate(360deg);
}

.stock {
  display: flex;
  align-items: center;
  gap: 10px;
}
.stock_status {
  width: 14px;
  height: 14px;
  background: #00d98b;
  border-radius: 50%;
}
.stock_info {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.buttons {
  display: flex;
  justify-content: left;
  gap: 15px;
  margin-top: 20px;
}

.button {
  width: 200px;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding: 15px;
  border: solid #dfe6f0 2px;
  border-radius: 5px;
}
.button:hover {
  box-shadow: #e2e9f3 0 0 10px;
  background: #dfe6f0;
    color: #000000;
}
@media screen and (max-width: 600px) {
  .product_card {
    width: clac(100% - 2px);
    max-width: 1200px;
    margin: 15px 0;
    padding: 2px;
    border-radius: 0;
    box-shadow: #dbe2ee 0 0 20px 5px;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
  }

  .image_container {
    width: 100%;
  }

  .product_info {
    width: 100%;
    padding: 10px;
  }

  .buttons {
    justify-content: space-between;
    flex-wrap: inherit;
  }

  .button {
    width: 170px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }
}
